body {
    background-image: url("../images/background.png");
    background-size:cover;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family:Arial, Helvetica, sans-serif;
}
.description {
    font-weight:bold;
    font-size: 40px;
    border-bottom:5px solid white;
}
header {
    width:100%;
    background:rgba(6, 6, 83, .8);
    position:fixed;
    top:0;
    z-index:1;
}
header ul {
    display: content;
    margin: 0 auto;
    padding: 0;
    padding-left:30%;
}
header ul li {
    display:inline-block;
    padding-right:10px;
    border-right: 3px solid white;
}
header ul li:nth-last-child(1){
    border-right:none;
}
header ul li a {
    text-decoration:none;
    font-size:30px;
    color:white;
}
header ul li a:active {
    background:white;
}
header ul li a:visited {
    background:green;
}
header ul li a:link {
    color:white;
}
header ul li a:hover {
    border-radius:2px;
    transition:0.5s;
    filter: contrast(30%);
}
.presentation {
    padding: 20px;
    margin:0;
}
.presentation h1 {
    text-align: center;
    color:blue;
    font-family:Arial, Helvetica, sans-serif;
    padding:0;
    padding-top:20px;
    margin:0;
}
h1 > img {
    height:60px;
    width:125px;
}
.presentation h2 {
    color:red;
    height:10px;
    padding-left:15%;
    padding-bottom:10px;
}
.conteneur {
    width: 100%;
    height: 400px;
    text-align:center;
    justify-content: space-between;
}
.conteneur h2 {
    color:white;
}
.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height:50px;
    font-size:40px;
    background-color:rgba(6, 6, 83, .8);
    color: white;
    text-align: center;
 }
 div {
     margin:0;
     padding:0;
 }
 .liste1 {
     color:white;
     font-size:25px;
     list-style:square;
 }
 .liste2 {
     list-style:upper-roman;
     font-size:25px;
     color:white;
 }
