* {
    font-family: Arial, Helvetica, sans-serif;
}
.titre > h1 {
    position: absolute;
    left: 50px;
    width: calc(100% - 100px);
    top: calc(25% - 100px);
    padding: 5px;
    text-align: center; 
    font-size:40px;
    font-family:Arial, Helvetica, sans-serif;  
  }
  th {
      border-right:1px solid rgba(255, 255, 255, 0.3);
  }
  table {
      border-collapse: collapse;
      border: 2px solid rgba(250, 250, 210, 0.3);
  }
  th img:hover {
      filter: contrast(130%);
      transition:0.5s;
      transform:scale(1.1);
      cursor: pointer;
  }
  td {
      background:rgba(16, 252, 8, 0.15);
      border:0.1px solid rgba(0, 0, 0, 0.2);
      display:none;
  }
  th:hover ~ td {
      display:block;
  }
  tr {
      background-color:rgba(0, 0, 0, 0.15)
  }
  table {
      width:100%;
      color:white;
      border-spacing:10px;
      margin-top:20px;
  }
  th > img {
      width:40vh;
  }
  
  .caracteristique {
      display:none;
  }
  td {
      padding:10px; 
  }
  .vehicule {
      position:absolute;
      top:20%;
  }
  .description {
      font-weight:bold;
      font-size: 40px;
      border-bottom:5px solid black;
  }
  .titre > h1 {
      top:10%;
  }
  .presentation2 {
    text-align:center;
    padding-top:20px;
    background:rgba(16, 252, 8, 0.15);
    color:rgb(16, 252, 8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.35);
    margin: 0px 20% 0px 20%;
}